PORT=3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=mohankmy18@gmail.com
SMTP_PASS=qoyprlqakltybizz

# Optional overrides
FROM_EMAIL=mohankmy18@gmail.com
CONTACT_RECEIVER=mohankmy18@gmail.com
